{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         
         {{ if .Params.image }}
         <img src="/{{ .Params.image }}" alt="" class="halfWidth">
         {{ end }}

         {{ .Content }}
         {{ template "_internal/disqus.html" . }}
         <p class="tags">
           {{ .Params.when }}
           {{ if and (isset .Params "tags") .Params.tags }}
           {{ range .Params.tags }} #{{ . }} {{ end }}
           {{ end }}
         </p>
      </div>
    </div>
  </div>
</div>
{{ end }}
