<div class="video-player">
<iframe src="https://player.vimeo.com/video/{{ .Get 0 }}"
        width="640" height="360" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
