<div class="embed video-player">
  <iframe class="youtube-player" type="text/html" width="640" height="360" 
    src="https://www.youtube.com/embed/{{ .Get 0 }}" allowfullscreen frameborder="0">
  </iframe>
</div>
